bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
mediapipe/render/demo/ios/OlapipeExample/OlapipeExample.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/render/demo/ios/OlapipeExample/OlapipeExample.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/render/ios/camera/OlaVideo.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
mediapipe/render/ios/camera/OlaVideo.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/WorkspaceSettings.xcsettings
mediapipe/render/ios/camera/OlaVideo.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/WorkspaceSettings.xcsettings
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/render/module/beauty/OlaFaceUnity.tulsiproj/wangrenzhu.tulsiconf-user
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/WorkspaceSettings.xcsettings
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/examples/ios/playground/MediapipeiOSPlayground/MediapipeiOSPlayground.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/examples/ios/playground/MediapipeiOSPlayground/MediapipeiOSPlayground.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
mediapipe/examples/ios/playground/MediapipeiOSPlayground/MediapipeiOSPlayground.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.tulsiproj/wangrenzhu.tulsiconf-user
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
