bazel-*
build
mediapipe.egg-info
mediapipe/__pycache__/
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/models/ovms/face_detection_short_range/
mediapipe/models/ovms/face_landmark/
mediapipe/models/ovms/hand_landmark_full/
mediapipe/models/ovms/hand_recrop/
mediapipe/models/ovms/iris_landmark/
mediapipe/models/ovms/palm_detection_full/
mediapipe/models/ovms/pose_detection/
mediapipe/models/ovms/pose_landmark_full/
mediapipe/models/ovms/ssdlite_object_detection/
mediapipe/models/ssdlite_object_detection_labelmap.txt
mediapipe/provisioning_profile.mobileprovision
mediapipe/python/__pycache__/
node_modules/
.configure.bazelrc
.user.bazelrc
.vscode/
.vs/
*.mp4
