global-exclude .git*
global-exclude *_test.py

include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.md
include requirements.txt

recursive-include mediapipe/modules *.tflite *.txt
recursive-include mediapipe/graphs *.binarypb
