<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ola.olamera">
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk android:minSdkVersion="16" tools:overrideLibrary="androidx.camera.core,androidx.camera.camera2,androidx.camera.lifecycle" />

</manifest>