<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.mediapipe.tasks.vision.interactivesegmentertest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk android:minSdkVersion="24"
        android:targetSdkVersion="30" />

    <application
        android:label="interactivesegmentertest"
        android:name="android.support.multidex.MultiDexApplication"
        android:taskAffinity="">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="com.google.mediapipe.tasks.vision.interactivesegmentertest" />

</manifest>
