// Copyright 2026 The MediaPipe Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

import Foundation

/// MediaPipe Tasks iOS Swift Package Manager integration layer.
///
/// Provides the core graph execution engine, buffer allocators, and base
/// options shared across MediaPipe Tasks domain libraries.
public enum MediaPipeTasks {
  /// The release version of the MediaPipe Tasks iOS package.
  public static let version = "${MPP_BUILD_VERSION}"
}
