Pod::Spec.new do |s|
  s.name             = 'MediaPipeTasksRetrieval'
  s.version          = '${MPP_BUILD_VERSION}'
  s.authors          = 'Google Inc.'
  s.license          = { :type => 'Apache',:file => "LICENSE" }
  s.homepage         = 'https://github.com/google/mediapipe'
  s.source           = { :http => '${MPP_RETRIEVAL_DOWNLOAD_URL}' }
  s.summary          = 'MediaPipe Task Library - Retrieval'
  s.description      = 'The Retrieval APIs of the MediaPipe Task Library. See the privacy notice at https://goo.gle/mediapipe-privacy.'

  s.ios.deployment_target = '15.0'

  s.module_name = 'MediaPipeTasksRetrieval'
  s.static_framework = true
  s.dependency 'MediaPipeTasksCommon', '${MPP_TASKS_COMMON_VERSION}'
  s.library = 'c++'
  s.libraries = 'sqlite3'
  s.vendored_frameworks = 'frameworks/MediaPipeTasksRetrieval.xcframework'
end
